<!-- HEADER -->
<header>
  <div class="header__content">
    <p>BAKE</p>
    <nav>
      <ul id="mainNav">
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="#intro">ABOUT</a></li>
        <li><a href="#services">SERVICE</a></li>
        <li><a href="#gallery">GALLERY</a></li>
        <li><a href="#feedback">CLIENTS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
